body {
    font-family: sans-serif;
    margin: 20px;
}

.climb-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.climb-item input[type="checkbox"] {
    margin-right: 10px;
}

body {
    background-image: url("floorplan_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Other background properties */
  }